* {
  color: rgb(194, 194, 194);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 0 20px;
}

.container {
  max-width: 400px;
  padding: 20px 25px;
  border-radius: 10px;
  margin: 90px auto;
  background-color: #03003d;
}

input {
  outline: none;
  border: 1px solid rgb(52, 52, 52);
  padding: 12px 15px;
  background-color: #1d1a52;
  border-radius: 15px;
  color: white;
  margin-bottom: 30px;
  margin-top: 10px;
}

hr {
  border: none;
  height: 1px;
  background: rgb(52, 52, 52);
  margin: 20px 0;
}

.inputs {
  gap: px;
  margin: 10px 0;
}

label {
  display: flex;
  flex-direction: column;
}

.checkboxDiv {
  display: flex;
  gap: 15px;
  align-items: center;

  input {
    width: 18px;
    height: 18px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#sendBtn {
    width: 100%;
  background-color: #113362;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: #0078d4;
  }
}

@media (max-width: 536px) {
  .inputs {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
  #sendBtn {
    font-size: 16px;
    padding: 8px 12px;
  }
}