* {
  box-sizing: border-box;
  color: #c2c2c2;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 0 20px;
}

.container {
  max-width: 400px;
  padding: 20px 25px;
  border-radius: 10px;
  margin: 90px auto;
  background-color: #03003d;
}

input {
  outline: none;
  border: 1px solid rgb(52, 52, 52);
  padding: 12px 15px;
  background-color: #1d1a52;
  border-radius: 15px;
  color: white;
  margin-bottom: 30px;
  margin-top: 10px;
}

hr {
  border: none;
  height: 1px;
  background: rgb(52, 52, 52);
  margin: 20px 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

input {
  outline: none;
  border: 1px solid rgb(52, 52, 52);
  padding: 12px 15px;
  background-color: #1d1a52;
  border-radius: 12px;
  color: white;
  margin-top: 6px;
  font-size: 15px;
}

#sendBtn {
  width: 100%;
  background-color: #113362;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #0078d4;
  }
}

@media (max-width: 536px) {
  .login__container {
    padding: 20px 15px;
  }

  h1 {
    font-size: 22px;
  }

  input {
    font-size: 14px;
    padding: 10px;
  }

  #sendBtn {
    font-size: 16px;
    padding: 10px;
  }
}
