.services {
  padding: 120px 20px 80px;
  text-align: center;

  &__title {
    font-size: 38px;
    font-weight: 700;
    color: #1b1b1b;
    margin-bottom: 14px;
  }

  &__subtitle {
    font-size: 16px;
    color: #555;
    max-width: 620px;
    margin: 0 auto 50px;
    line-height: 1.6;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
  }

  /* Адаптив */
  @media (max-width: 992px) {
    .services__cards {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      justify-items: center;
    }

    .services__cards>*:last-child {
      grid-column: 1 / -1;
    }
  }

  @media (max-width: 600px) {
    .services__cards {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      justify-items: center;
    }
  }

}