.team {
  text-align: center;
  padding: 80px 20px;
  max-width: 1300px;

  &__title {
    font-size: 42px;
    font-weight: 700;
    color: #222;
    margin-bottom: 15px;
  }

  &__subtitle {
    max-width: 900px;
    margin: 0 auto 60px auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  &__card {
    background: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    width: 31%;
    min-width: 290px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
    }
  }

  &__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 24px;
    font-weight: 600;
    color: #222;
    margin-bottom: 5px;
  }

  &__role {
    font-size: 16px;
    color: #4a7df0;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__desc {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__btn {
    background: #dce9ff; 
    color: #2464dc;
    border: none;
    padding: 14px 26px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s ease;

    &:hover {
      background: #c6d9ff; 
    }
  }
}


@media (max-width: 972px) {
  .team__cards {
    flex-direction: column;
    align-items: center;

    .team__card {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .team__title {
    font-size: 30px; 
  } 

  .team__subtitle {
    font-size: 15px;  
    max-width: 400px;
  }
} 