.header {
    text-align: center;

    p {
        font-size: 40px;
        font-weight: 500;
        
    }
    .first {
        color: #1e88ff;
    }
}

.psychologists {
    margin-top: 30px;
    display: flex; 
    flex-wrap: wrap;   
    justify-content: center;
    gap: 40px; 
}